* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: #eeeeee;
    position: relative;
}

strong {
    font-weight: bold;
}

h1, h2 {
    font-family: 'Righteous', cursive;
}
h1 {
    font-size: 44px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;   
}

h4 {
    font-size: 16px;
    color: #333333;
}

h5 {
    font-size: 15px;
    color: #a6a6a6;
}

h4, h5, p {
    padding: 0 10px 7px;
}

p {
    font-size: 16px;
    color: #000000;
}

img {
    width: 150px;
    height: 100px;

    padding: 10px;

    border-radius: 14px;

    object-fit: cover;
}

header {
    width: 100vw;
    height: 92px;

    background-color: #cf2b2b;

    position: fixed;
    top: 0;
    left: 0; 
    box-shadow: 1px 0 6px 0px rgba(0, 0, 0, 1.8);

    z-index: 10;
}

.logo {
    width: 95vw;
    height: 92px;

    color: #ffffff;

    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;  
}

.prato-principal {
    width: 95vw;
    
    margin: calc(2vw + 100px) auto 2vw auto;
}

.escolher-bebida{
    width: 95vw;
    
    margin: 2vw auto
}

.escolher-sobremesa {
    width: 95vw;
    
    margin: 2vw auto calc(2vw + 92px);
}

.cardapio {
    display: flex;
    overflow: hidden;
    overflow: auto;
}

.escolher-pedido {
    width: 172px;
    height: 202px;

    background-color: #ffffff;  
    
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

    margin: 4vw 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.preco {
    width: 90%;
    
    display: flex;
    justify-content: space-between;
}

.prato-selecionado,
.bebida-selecionada,
.sobremesa-selecionada {
    border: 7px solid #32B72F;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    position: relative;
}

.icone {
    position: absolute;
    bottom: 0;
    right: 2px;
}

ion-icon {
    width: 15.44px;
    height: 15.44px;
    color: #32b72f;
}

footer {
    width: 100vw;
    height: 92px;

    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    bottom: 0;
    left: 0;
}

footer button {
    width: 80vw;
    height: 53px;

    border-radius: 40px;

    font-size: 20px;
    color: #ffffff;
    background-color: #cbcbcb;
    border: #cbcbcb;
}

.botao-ativo {
    background-color: #32B72F;
}

.confirmar-pedido {
    width: 100vw;
    height: 100%;
    
    background-color: rgba(255, 255, 255, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;
}

.card-confirmacao {
    width: 90vw;
    height: 95vw;
    background-color: #50D074;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    align-items: center;
}

.card-confirmacao div {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-confirmacao p {
    color: #ffffff;
    font-size: 22px;
}

.card-confirmacao .pedir {
    height: 52px;

    background-color: #ffffff;

    color: #50D074;
    font-size: 22px;

    border-radius: 100px;
    border: none;

    padding: 0 20px;
}

.card-confirmacao button {
    height: 52px;

    color: #ffffff;
    font-size: 20px;

    background-color: #50D074;
    border: none;
}

.hidden {
    display: none;
}