.escolher-pedido {
    width: 172px;
    height: 202px;

    background-color: #ffffff;  
    
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

    margin: 4vw 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.preco {
    width: 90%;
    
    display: flex;
    justify-content: space-between;
}

.prato-selecionado,
.bebida-selecionada,
.sobremesa-selecionada {
    border: 7px solid #32B72F;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    /* position: relative; */
}

.rodape-alimento {
    width: 160px;

    display: flex;
    justify-content: space-between;
}

.setar-quantidade {
    z-index: 10;
    padding: 1px 10px;
}

.setar-quantidade span{
    margin-left: 5px;
}

.setar-quantidade .diminuir-quantidade{
    color: #ff0000;
}

.setar-quantidade span strong{
    color: #32B72F;
}