footer {
    width: 100vw;
    height: 92px;

    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

footer button {
    width: 80vw;
    height: 53px;

    border-radius: 40px;

    font-size: 20px;
    color: #ffffff;
    background-color: #cbcbcb;
    border: #cbcbcb;
}

.botao-ativo {
    background-color: #32B72F;
}